# Ignorer les fichiers systèmes Mac
.DS_store

# Ignorer le répertoire node_modules
node_modules

# Ignorer tous les fichiers texte
*.txt

# Ignorer les fichiers liés aux clés d'API
.env

# Ignorer les fichiers de configuration SASS
.sass-cache