# Ignorer les fichiers systèmes Mac
.DS_store

# Ignorer le répertoire node_modules
node_modules

# Ignorer tous les fichiers texte
*.txt

.npmignore


# Ignorer les fichiers de configuration SASS
.sass-cache

package-lock.json
examples/adventure_game.js
